html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  color: var(--color-text);
  background:
    linear-gradient(
      135deg,
      #f8f5f2,
      #efe6de
    );
}
