@layer base {

  html {
    scroll-behavior: smooth;
  }

  :root {

    font-size:
      clamp(16px, 1vw, 20px);

    --font-size-hero:
      clamp(2rem, 5vw, 4rem);

    --font-size-heading:
      clamp(1.5rem, 3vw, 2.5rem);

    --font-size-body:
      clamp(1rem, 1.5vw, 1.125rem);

  }

  body {

    font-family: var(--font-primary);

    font-size: var(--font-size-body);

    color: var(--color-text-primary);

    background: var(--color-surface);

    text-rendering: optimizeSpeed;

  }

}
